.todo-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.todo-input__text {
  width: 225px;
  padding: 6px 34px 6px 10px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;

  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  outline: none;
}

.todo-input__add {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;

  color: var(--text-white-color);
  font-weight: bold;
  font-size: 18px;

  background-color: var(--sky-color);
  cursor: pointer;

  transition: background-color 0.15s;
}

.todo-input__add:hover {
  background: var(--sky-color);
}
